@keyframes float-1 {
  from {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, -20px);
  }
  40% {
    transform: translate(15px, -25px);
  }
  60% {
    transform: translate(-3px, 2px);
  }
  80% {
    transform: translate(15px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes float-2 {
  from {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(15px, -25px);
  }
  40% {
    transform: translate(-3px, 2px);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(-10px, -20px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes float-3 {
  from {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(15px, 0);
  }
  40% {
    transform: translate(-10px, -20px);
  }
  60% {
    transform: translate(15px, -25px);
  }
  80% {
    transform: translate(-3px, 2px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes float-4 {
  from {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, -20px);
  }
  40% {
    transform: translate(-3px, 2px);
  }
  60% {
    transform: translate(15px, -25px);
  }
  80% {
    transform: translate(15px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.drop {
  cursor: pointer;
  width: 100%;
  overflow: visible !important;
  transition: 0.5s transform;
  filter: drop-shadow(60px 60px 50px $color-primary) blur(0.15rem);

  path {
    fill: $black;

    transition: 0.3s $ease-out fill;

    &:hover,
    &:focus {
      fill: lighten($black, 5);
    }
  }

  &__wrapper {
    position: relative;
    transition: 0.3s transform;

    &:hover,
    &:focus {
      .drop__icon {
        opacity: 1;
        transition: 0.6s $ease-in opacity;
      }
    }
  }

  &__icon {
    pointer-events: none;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s $ease-out opacity;
  }
}

.drop-a {
  animation: float-1 linear 10s infinite;
}
.drop-b {
  animation: float-2 linear 10s infinite;

  .drop__icon {
    filter: blur(0.15rem);

    svg {
      width: 4vmin;
      height: auto;
    }
  }
}
.drop-c {
  animation: float-3 linear 10s infinite;
}
.drop-d {
  animation: float-4 linear 10s infinite;
}
.drop-e {
  animation: float-2 linear 13s infinite;

  .drop__icon {
    font-size: 10rem;
    filter: blur(0.25rem);
  }
}
.drop-f {
  animation: float-3 linear 13s infinite;

  .drop__icon {
    filter: blur(0.2rem);

    svg {
      width: 10vmin;
      height: auto;
    }
  }
}

.drop-a,
.drop-b,
.drop-c,
.drop-d,
.drop-e,
.drop-f {
  [data-drops='true'] & {
    animation: none;
  }
}
