<div class="flying-envelope">
  <div class="flying-envelope__top"></div>
  <div class="flying-envelope__right"></div>
  <div class="flying-envelope__left"></div>
  <div class="flying-envelope__body">?</div>
</div>
