<article class="article">
  <p class="article__parag">
    Hello,<br>
    <strong>this Friday</strong>
    (11:30-13:15) we will be sharing the ritual of food, have a big catch up all together and have some information from Emar and Cecilia regarding the current situation, our vision and the future. With some room for questions, of course!
  </p>
  <p class="article__parag">
    Since it's always been a
    <strong>Mirabeau tradition</strong>
    to have lunch together, we thought of treating you with an Albert Heijn voucher with which you can buy the ingredients to prepare your favorite lunch.
  </p>
  <p class="article__parag">The only thing you have to do is then share it with us during the call!</p>
  <p class="article__parag">
    <strong>See you Friday, looking forward to it!</strong>
  </p>

</article>
