$envelope-width: 7rem;

@keyframes remove-envelope {
  from {
    transform: translateX(-50%) translateY(-2vh);
  }
  to {
    transform: translateX(-50%) translateY(10vh);
  }
}

@keyframes tease {
  0%,
  50%,
  100% {
    transform: translateX(-50%) translateY(2vh);
  }
  25% {
    transform: translateX(-50%) translateY(0.5vh);
  }
}

.envelope {
  filter: blur(0.05rem);
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-2vh);
  transform-origin: bottom center;
  max-width: $envelope-width;
  height: auto;
  cursor: pointer;

  animation: tease 2s $ease-overshoot infinite;

  [data-large-view-envelope='true'] & {
    animation: remove-envelope 0.5s $ease-overshoot forwards;
    cursor: initial;
    filter: none;
  }

  &__remove {
    z-index: 999;
    border: none;
    background-color: transparent;
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translate(0, -50%) scale(0.8);
    transform-origin: center;
    transition: 0.2s $ease-overshoot transform, 0.2s $ease-out opacity;
    pointer-events: none;

    [data-large-view-envelope='true'] & {
      pointer-events: initial;
      opacity: 1;
      transform: translate(0, -50%) scale(1);

      transition: 0.2s 0.8s $ease-overshoot transform,
        0.2s 0.8s $ease-out opacity;
    }
  }
  &__remove path {
    &:focus,
    &:hover {
      fill: darken($color-primary, 10) !important;
    }
  }

  &__remove-icon {
    pointer-events: none;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(0.04rem);
  }
}

.envelope__body {
  z-index: 666;
  position: absolute;
  top: 3rem;
  left: 50%;
  width: 100%;
  padding: 0 $spacing-m;
  max-width: 35rem;
  border-radius: 3px;

  transform: translateX(-50%) translateY(100%) scaleX(0);
  opacity: 0;

  transition: 0.3s $ease-in-out-light transform, 0.3s $ease-in-out-light opacity;

  [data-large-view-envelope='true'] & {
    transform: translateX(-50%) translateY(20%) scaleX(1);
    opacity: 1;
    transition: 0.3s 0.3s $ease-in-out-light transform,
      0.3s 0.3s $ease-in-out-light opacity;
  }
}
