<div class="envelope" data-module="envelope/Envelope">
  <div class="envelope__top"></div>

  <div class="envelope__right"></div>
  <div class="envelope__left"></div>

  <div class="envelope__body">
    {%- component 'article' -%}
  </div>
</div>
